@model IEnumerable<FileworxWebApp.Models.ContactModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.IsReadFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWriteFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReadFtp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWriteFtp)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsReadFile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsWriteFile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsReadFtp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsWriteFtp)
                </td>

                <td>
                    <a class="btn btn-primary" role="button" href="Contact/Edit/@item.ID">
                        <i class="bi bi-pencil-square"></i>
                    </a>

                    <a class="btn btn-danger" role="button" href="Contact/Delete/@item.ID">
                        <i class="bi bi-trash3"></i>
                    </a>

                    <a class="btn btn-secondary" role="button" href="Contact/Details/@item.ID">
                        <i class="bi bi-info"></i>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
