@{
    ViewData["Title"] = "Home Page";
}
<p>

    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-funnel"></i>
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">

        <div class="">
            <div>
                @using (Html.BeginForm("Index", "home", FormMethod.Post, new { @class = "row", id = "searchForm" }))
                {

                    <div class="mb-3">
                        @Html.Label("query","Search Term")
                        @Html.Editor("query",new {  htmlAttributes = new {@class = "form-control"  }})

                    </div>

                    <div class="col-6 mb-3">
                        @Html.Label("after","After")
                        @Html.Editor("after",new {  htmlAttributes = new {@class = "form-control" ,type = "datetime-local" }})
                    </div>

                    <div class="col-6 mb-3">
                        @Html.Label("before","Before")
                        @Html.Editor("before",new {  htmlAttributes = new {@class = "form-control" ,type = "datetime-local"}})
                    </div>


                    <div class="mb-3">
                        @foreach (string cat in FileModel.Categories)
                        {

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@cat" id="@cat" name="categories">
                                <label class="form-check-label" for="@cat">
                                    @cat
                                </label>
                            </div>

                        }

                    </div>

                    <div class="col-auto mb-3">
                        <button type="submit" class="btn btn-primary ">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <div class="col-auto mb-3">
                        <button type="reset" class="btn btn-danger " id="btn_reset">
                            <i class="bi bi-backspace"></i>

                        </button>
                    </div>

                }

            </div>

        </div>
    </div>
</div>




<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Body</th>
            <th>Type</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var file in Model)
        {

            <tr>
                <td>@file.Name</td>
                <td>@file.Description</td>
                <td>@file.Body</td>

                @if (@file.ClassID == 1)
                {
                    <td>
                        News
                    </td>
                }
                else
                {
                <td>
                    Photo
                </td>
                }

                <td>
                    <a class="btn btn-primary" role="button" href="@file.ClassID/edit/@file.ID">
                        <i class="bi bi-pencil-square"></i>
                    </a>

                    <a class="btn btn-danger" role="button" href="@file.ClassID/delete/@file.ID">
                        <i class="bi bi-trash3"></i>
                    </a>

                    <a class="btn btn-secondary" role="button" href="@file.ClassID/view/@file.ID">
                        <i class="bi bi-info"></i>
                    </a>
                </td>


            </tr>
        }

    </tbody>


</table>
