@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
{

    <div class="mb-3">
        @Html.Label("Name","Name")
        @Html.Editor("Name",new {  htmlAttributes = new {@class = "form-control",required = string.Empty }})
        <div class="invalid-feedback">
            Name cannot be empty
        </div>
    </div>
    <div class="mb-3">
        @Html.Label("Description","Description")
        @Html.Editor("Description",new {  htmlAttributes = new {@class = "form-control",required = string.Empty }})
        <div class="invalid-feedback">
            Description cannot be empty
        </div>
    </div>
    <div class="mb-3">
        @Html.Label("LoginName","Login Name")
        @Html.Editor("LoginName",new {  htmlAttributes = new {@class = "form-control",required = string.Empty }})
        <div class="invalid-feedback">
            Login Name cannot be empty
        </div>
    </div>
    <div class="mb-3">
        @Html.Label("Password","Password")
        @Html.Editor("Password",new {  htmlAttributes = new {@class = "form-control",required = string.Empty }})
        <div class="invalid-feedback">
            Password cannot be empty
        </div>
    </div>
    @Html.Hidden("created",DateTime.Now)
    @Html.Hidden("ID","-1",new {  htmlAttributes = new {value = -1}})
    @Html.Hidden("classID","3",new {  htmlAttributes = new {value = 3}})
    @Html.Hidden("LastModifier",ViewBag.Modifier,new {  htmlAttributes = new {value = ViewBag.Modifier}})
    @Html.Hidden("Creator",ViewBag.Modifier,new {  htmlAttributes = new {value = ViewBag.Modifier}})
    @Html.Hidden("ModifyDate",DateTime.Now);


    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>

}


@if (Model)
{
    <p class="alert-danger">Username already exists</p>
}